body {
    font-family: "Montserrat", sans-serif;
    color: #2e2f42;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.item {
    border-radius: 8px;
    padding: 16px;
    width: 392px;
    background: #f6f6fe;
    margin: 24px;
}

.item-fist {
    height: 264px;
}

.item-second {
    height: 216px;
}

.item-third {
    height: 312px;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.04em;
}

/*.item-list {}*/

.list-check {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    margin-top: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}